<div
  class="welcome-section-container flex flex-col justify-center items-center"
>
  <div
    class="flex flex-col-reverse md:flex-row h-full w-5/6 xl:w-7/12 items-center justify-center gap-4 pt-20 md:pt-10"
  >
    <div class="flex flex-col items-center justify-center gap-4 text-center">
      <h1 class="font-bold text-4xl">{{ "intro.title" | translate }}</h1>
      <p class="text-l">
        {{ "intro.description" | translate }}
      </p>
      <h2 class="font-semibold">{{ "intro.contactInfo" | translate }}</h2>
      <div class="flex flex-row gap-3 items-center">
        <a href="mailto:elyasalmubarak@gmail.com"
          ><i class="fi fi-rr-envelope" style="font-size: 1.5rem"></i
        ></a>
        <a href="tel:+966567900964"
          ><i class="fi fi-rr-phone-flip" style="font-size: 1.5rem"></i
        ></a>
        <a href="https://www.linkedin.com/in/elyas-almubarak/"
          ><i class="devicon-linkedin-plain" style="font-size: 1.6rem"></i
        ></a>
        <a href="https://twitter.com/Elyas_almubarak"
          ><i class="devicon-twitter-original" style="font-size: 1.6rem"></i
        ></a>
        <a href="https://wa.me/966567900964"
          ><i class="fi fi-brands-whatsapp" style="font-size: 1.5rem"></i
        ></a>
        <a href="https://github.com/Elyas1422"
          ><i class="fi fi-brands-github" style="font-size: 1.5rem"></i
        ></a>
      </div>
    </div>
    <img
      class="w-1/2 hero-img"
      src="../../../assets/images/Hero_section.png"
      alt="Image"
    />
  </div>
  <i
    class="fi fi-rr-angle-small-down animate-flicker"
    style="font-size: 2rem"
  ></i>
</div>

<div class="blobs-glass"></div>
<div class="blobs">
  <div class="blobs-items">
    <div class="blob blob-primary"></div>
    <div class="blob blob-primary"></div>
    <div class="blob blob-secondry"></div>
    <div class="blob blob-secondry"></div>
    <div class="blob blob-bg"></div>
  </div>
</div>
