<div class="flex items-center">
  <div class="glass-container mx-auto flex flex-col-reverse lg:flex-row gap-5">
    <div class="text-center align-middle items-center lg:w-1/2 flex flex-col">
      <h1 class="intro-heading lg:text-8xl font-honk">Hi👋,</h1>
      <h1 class="intro-heading lg:text-8xl font-honk">I'm Elyas</h1>
      <h2 class="text-2xl font-sixtyfour">Front-end Devloper</h2>
      <p class="font-sans text-l text-justify text-white text-l">
        An Angular front-end developer and an aspiring software engineer with a
        focus on AI & ML, currently enriching my knowledge at KFUPM. I am
        passionate about creating seamless, dynamic user interfaces and
        leveraging the power of AI to solve complex problems. Explore my
        portfolio to see my projects and how I apply innovative solutions in
        software development.
      </p>
    </div>
    <div class="w-2/3 lg:w-1/2 items-center rounded-full mx-auto">
      <img
        class="rounded-full"
        src="../../../assets/images/Elyas.jpeg"
        alt="Elyas Image"
      />
    </div>
  </div>
</div>
