<div
  #cardsContainer
  id="skillsContainer"
  class="flex flex-col items-center justify-center align-content-center gap-8"
>
  <h1 class="font-bold text-center text-3xl lg:text-4xl">
    {{ "skills.title" | translate }}
  </h1>
  <div class="w-5/6 md:w-3/4 rounded-lg card p-5">
    <h2 class="font-semibold pb-5 text-center">
      {{ "skills.frontendSubtitle" | translate }}
    </h2>
    <div class="flex flex-wrap gap-7 justify-center">
      @for (skill of frontendSkills; track skill.name){
      <div class="skill lg:basis-0 md:basis-1/4 basis-1/3">
        <i [class]="skill.icon" style="font-size: 5rem"></i>
        <span class="text-center badge">{{ skill.name }}</span>
      </div>
      }
    </div>
  </div>

  <div class="w-5/6 md:w-3/4 rounded-lg card p-5">
    <h2 class="font-semibold pb-5 text-center">
      {{ "skills.backendSubtitle" | translate }}
    </h2>
    <div class="flex flex-wrap gap-7 justify-center">
      @for (skill of backendSkills; track skill.name){
      <div class="skill lg:basis-0 md:basis-1/4 basis-1/3">
        <i [class]="skill.icon" style="font-size: 5rem"></i>
        <span class="text-center badge">{{ skill.name }}</span>
      </div>
      }
    </div>
  </div>
</div>
