.card {
  background-color: var(--secondary-color);
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.prime-icon {
  width: 5rem;
  height: 5rem;
  background-image: url("../../../assets/icons/prime.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
