@import "assets/themes/dark-theme";
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&family=Readex+Pro:wght@160..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("../src/assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("../src/assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
:root {
  font-family: ui-sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
}
body {
  background-color: var(--surface-color);
  background-color: var(--surface-color);
  min-height: 100vh;
}

.ar-fonts {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ar-fonts h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Readex Pro";
}
.en-fonts {
  font-family: "inter var";
}

img {
  object-fit: contain;
}
