@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import "assets/themes/dark-theme";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  @import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/src/assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  // src: url("/ /fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  src: url("/src/assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
}
body {
  background-color: var(--surface-color);
  min-height: 100vh;
  font-family: "Inter var", sans-serif;
}

img {
  object-fit: contain;
}
