.icon {
  width: 5rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; /* Add this line to center the icon horizontally */
  align-items: center; /* Add this line to center the icon vertically */
  background-position: center; /* Add this line to center the background image */
}
.signalr-icon {
  background-image: url("../../../assets/icons/SignalR-white.svg");
}
.ag-grid-icon {
  background-image: url("../../../assets/icons/download.svg");
}
