:root {
  --primary-color: #6b8f71;
  --secondary-color: #292b22;
  --surface-color: #1d1e18;
  --surface-border: #ffffff1a;
  --surface-100: #0b0e0b;
  --surface-200: #161612;
  --surface-300: #323429;
  --surface-400: #41443e;
  --surface-500: #52554d;
  --surface-600: #64685c;
  --surface-700: #767a6c;
  --surface-800: #888c7c;
  --surface-900: #9a9f8c;
  --navbar-bg: rgb(41, 43, 34, 0.3);
}
